body {
    background-color: grey;
}

.grid-button, .button-container, .reset-button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    gap: 20px;
}


.container {
    display: grid;
    justify-content: center;
    align-content: center;
}

.grid-container {
    display: grid;
    width: 600px;
    height: 600px;
    
}

.square {
    display: inline-grid;
    background-color: white;
    border: 1px solid black;
}
