body {
    background-color: grey;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 20px;
}

.container {
    display: grid;
    justify-content: center;
    align-content: center;
}

.grid-container {
    display: grid;
    width: 800px;
    height: 800px;
    
}

.square {
    display: inline-grid;
    background-color: white;
    border: 1px solid black;
}
